.airwpsync-c-select__option-description {
	font-size: 0.625rem;
	color: var(--airwpsync--color--primary-300);
	line-height: 1.2;
	margin-top: 8px;
	margin-bottom: 8px;
	font-style: italic;
}
.airwpsync-c-select__option--is-selected .airwpsync-c-select__option-description {
	color: inherit;
}
.airwpsync-c-select__input {
	min-height: 0!important;
	box-shadow: none!important;
}

.airwpsync-c-select__group-heading {

	font-weight: 700!important;
	color: var(--airwpsync--color--primary-500) !important;
	border-bottom: 1px solid var(--airwpsync--color--primary-50)!important;
	padding-bottom: 10px!important;
	padding-top: 10px!important;
}
