/* components/content/callout */
.airwpsync-c-callout {
	display: flex;

	gap: 10px;
	padding: 10px 16px;
	border-radius: 4px;
	color: var(--airwpsync--color--primary);
}
.airwpsync-c-callout--icon-align-start {
	align-items: flex-start;
}
.airwpsync-c-callout--icon-align-center {
	align-items: center;
}
.airwpsync-c-callout__icon {
	flex: 0 0 auto;
}
.airwpsync-c-callout__icon svg {
	display: block;
	width: 20px;
	height: 20px;
	object-fit: contain;
}
.airwpsync-c-callout__content a {
	text-decoration: underline;
	color: inherit;
}
