.airwpsync-c-spacer--size-10 { margin: 0 0 10px 0; }
.airwpsync-c-spacer--size-16 { margin: 0 0 16px 0; }
.airwpsync-c-spacer--size-24 { margin: 0 0 24px 0; }
.airwpsync-c-spacer--size-32 { margin: 0 0 32px 0; }
.airwpsync-c-spacer--size-64 { margin: 0 0 64px 0; }
